@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #252D37;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 68.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  border-radius: 0;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  display: block;
  position: relative;
  width: 1.375rem;
  height: 1.125rem;
  top: -20px;
  left: 100%;
  z-index: 5;
}

.popup__close span {
  width: 0;
}

.popup__close::before,
.popup__close::after {
  content: "";
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #001E42;
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-size: 3.125rem;
  font-weight: 900;
  color: #00FEFF;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #001E42;
}

h2 {
  font-size: 3.125rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 3rem;
}

.send-button {
  padding: 14px 22px;
  background: #00FEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-button__text {
  color: #002047;
  font-weight: 700;
}

.send-button__arrow {
  margin-top: 0.3125rem;
  margin-left: 10px;
  width: 20px;
  height: 13px;
  background-image: url("../img/arrowRight.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.title {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.shift12-left {
  margin-left: -12px;
}

.shift2-left {
  margin-left: -2px;
}

.popup-form {
  margin-top: 18px;
  color: #001E42;
  width: 375px;
}

.popup-form__field input,
.popup-form__field textarea {
  background-color: #ECECEC;
}

.popup-form__field:not(:last-child) {
  margin-bottom: 17px;
}

.popup-form__text {
  width: 100%;
  padding: 10px 21px;
}

.popup-form__textarea {
  width: 100%;
  padding: 10px 21px;
  height: 100px;
  resize: none;
}

.popup-form__agreement {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.popup-form__agreement:checked ~ .popup-form__agreement-mask:after {
  display: block;
}

.popup-form__agreement-mask {
  position: absolute;
  top: -5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ECECEC;
  cursor: pointer;
}

.popup-form__agreement-mask:after {
  content: "";
  top: 6px;
  left: 6px;
  height: 8px;
  width: 8px;
  background-color: #00FEFF;
  position: absolute;
  display: none;
}

.popup-form__agreement-text {
  display: block;
  position: relative;
  padding-left: 30px;
  font-size: 10px;
}

.popup-form__checkbox {
  margin-top: 14px;
  margin-bottom: 18px;
  cursor: pointer;
}

.header {
  background: #00234D;
  padding-top: 36px;
  color: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.logo {
  margin-top: -0.3125rem;
  text-transform: uppercase;
}

.logo__name {
  font-size: 2.375rem;
  font-weight: 900;
}

.logo__name :last-child {
  color: #00FEFF;
}

.logo__ua {
  margin-left: 25px;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: 1px solid #00FEFF;
}

.logo__ua p {
  color: #00FEFF;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.logo__slogan {
  font-size: 0.5rem;
  color: #00FEFF;
  border-bottom: 1px solid #00FEFF;
}

.contacts__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacts__line:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__operator {
  font-size: 0.75rem;
  font-weight: 400;
  min-width: 65px;
}

.contacts__phone {
  font-size: 1.0625rem;
  font-weight: 700;
}

.icon-menu {
  display: none;
}

.menu {
  position: relative;
}

.menu__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item {
  margin-bottom: 35px;
}

.menu__contacts {
  display: none;
  margin-top: 35px;
}

.menu__logo {
  display: none;
}

.menu__lang {
  display: none;
  margin-bottom: 2.875rem;
}

.menu__lang button:not(:last-child) {
  margin-right: 28px;
}

.menu__send {
  display: none;
}

.menu-logo {
  margin-top: -0.3125rem;
  text-transform: uppercase;
  color: #001E42;
}

.menu-logo__name {
  font-size: 2.375rem;
  font-weight: 900;
}

.menu-logo__name :first-child {
  color: #00FEFF;
}

.menu-logo__slogan {
  position: relative;
  top: -7px;
  display: inline-block;
  font-size: 0.5rem;
  color: #001E42;
  border-bottom: 1px solid #001E42;
}

.footer {
  background-color: #06182F;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 28px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phones {
  margin-top: 26px;
}

.footer__names {
  text-align: right;
}

.footer__service {
  color: #00FEFF;
}

.footer__name {
  margin-top: 20px;
}

.phones__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.phones__phone {
  font-weight: 700;
  margin-right: 10px;
  min-width: 165px;
}

.phones__operator {
  font-size: 12px;
}

.no-webp .intro{
  background-image: url("../img/intro_bg.png"); }

.intro {
  background-color: #00234D;
  background-repeat: no-repeat;
  background-position: 53% 50%;
  background-size: auto 100%;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.intro__subtitle {
  margin-top: 3.5625rem;
  color: #00FEFF;
}

.intro__prices {
  margin-top: 0.625rem;
}

.intro__prices--large {
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
}

.intro__prices--large span {
  font-weight: 700;
}

.intro__prices--larger {
  font-size: 38px;
}

.intro__group {
  margin-top: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__slogan {
  font-size: 0.875rem;
  text-align: right;
  line-height: 1.4;
  word-spacing: 0.3;
  max-width: 390px;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.services {
  padding-bottom: 125px;
}

.services__grid {
  margin-top: 3.125rem;
  margin-bottom: 4.375rem;
}

.services__details {
  margin-top: 1.9375rem;
  margin-bottom: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.services__text {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid__element {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}

.service__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.4;
}

.target {
  padding-bottom: 115px;
}

.target__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 111px;
}

.target__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.target__picture img {
  width: 155px;
  height: 100%;
}

.target__title {
  padding-top: 34px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.15;
}

.target__goal {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.3;
}

.target__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
}

.target__connection {
  line-height: 1.4;
}

.target__step {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
}

.step__wrapper {
  position: relative;
}

.step__number {
  font-size: 6rem;
  font-weight: 700;
  color: #00FEFF;
  position: relative;
}

.step__text {
  min-width: 300px;
  position: absolute;
  top: 46%;
  left: 4%;
}

.prices {
  padding-bottom: 100px;
}

.prices__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.prices__text {
  line-height: 1.4;
  padding-top: 25px;
}

.prices__text span {
  font-weight: 700;
}

.prices__buttons {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.prices__card {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  color: #001E42;
}

.price {
  padding: 4px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.price:not(:last-child) {
  margin-right: 8px;
}

.price:hover {
  background-color: #F2F2F2;
}

.price__wrapper {
  padding: 17px 22px;
  border: 2px solid #001E42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.price__title {
  color: #001E42;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.price__icon {
  margin-top: -4px;
  height: 22px;
  width: 21px;
}

.card {
  text-align: center;
  padding: 38px 19px;
  border: 2px solid #001E42;
  min-width: 259px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.card:hover {
  background-color: #F2F2F2;
}

.card__title {
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  white-space: nowrap;
}

.card__price {
  margin-top: 30px;
  font-size: 70px;
  font-weight: 700;
}

.card__units {
  margin-top: 15px;
  font-size: 20px;
}

.card__for {
  margin-top: 35px;
}

.clients {
  padding-bottom: 80px;
}

.clients__row {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item img {
  height: 83px;
  width: 100%;
}

.organization {
  color: #A5AAAF;
  padding-bottom: 50px;
}

.organization__title {
  font-size: 1.25rem;
  font-weight: 700;
}

.organization__wrapper {
  margin-top: 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.organization__details {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.organization__text {
  font-size: 0.8125rem;
  line-height: 1.2;
}

.organization__text:not(:last-child) {
  margin-bottom: 20px;
}

.organization__text li {
  margin-top: 5px;
}

.no-webp .contact{
  background-image: url("../img/form_bg.jpg"); }

.contact {
  background-color: #001E42;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 35px;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.contact__form {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.contact__send {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.form {
  color: #001E42;
  width: 345px;
}

.form__field:not(:last-child) {
  margin-bottom: 17px;
}

.form__text {
  width: 100%;
  padding: 10px 21px;
}

.form__textarea {
  width: 100%;
  padding: 10px 21px;
  height: 70px;
  resize: none;
}

.form__agreement {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__agreement:checked ~ .form__agreement-mask:after {
  display: block;
}

.form__agreement-mask {
  position: absolute;
  top: -5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
}

.form__agreement-mask:after {
  content: "";
  top: 6px;
  left: 6px;
  height: 8px;
  width: 8px;
  background-color: #001E42;
  position: absolute;
  display: none;
}

.form__agreement-text {
  display: block;
  position: relative;
  padding-left: 30px;
  color: #A5AAAF;
  font-size: 10px;
}

.form__checkbox {
  margin-top: 14px;
  margin-bottom: 18px;
  cursor: pointer;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 68.125em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
    padding: 0 15px;
  }

  .shift12-left {
    margin-left: 0;
  }

  .shift2-left {
    margin-left: 0;
  }

  .services {
    padding-bottom: 50px;
  }

  .target__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
    padding-bottom: 35px;
  }

  .target__steps {
    padding-top: 15px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }

  .target__step {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .prices__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .prices__buttons {
    position: relative;
    top: 336px;
  }

  .prices__cards {
    position: relative;
    top: -60px;
  }

  .price {
    padding: 0;
  }
}

@media (max-width: 47.99875em) {
  body {
    font-size: 16px;
  }

  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 18px;
  }

  .popup-form {
    width: 100%;
  }

  .header__links {
    display: none;
  }

  .logo__ua {
    display: none;
  }

  .contacts {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu {
    color: #001E42 !important;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #001E42;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    text-align: center;
    padding: 36px 15px;
    color: #001E42;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    color: #001E42;
  }

  .menu-open .menu__body {
    left: 0;
    color: #001E42;
  }

  .menu__list {
    margin-top: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__contacts {
    display: inline-block;
  }

  .menu__contacts li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .menu__contacts li:not(:last-child) {
    margin-bottom: 18px;
  }

  .menu__logo {
    display: block;
  }

  .menu__lang {
    display: block;
  }

  .menu__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 18px;
  }

  .footer__names {
    text-align: left;
  }

  .phones__line {
    margin-bottom: 18px;
  }

  .intro {
    padding-bottom: 35px;
  }

  .intro__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__send {
    margin-top: 35px;
    max-width: 290px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__slogan {
    text-align: left;
    margin-top: 35px;
  }

  .about {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__text {
    margin-top: 1.25rem;
  }

  .services {
    padding-bottom: 35px;
  }

  .services__grid {
    margin-top: 2.1875rem;
    margin-bottom: 35px;
  }

  .services__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .services__send {
    margin-top: 35px;
    min-width: 290px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }

  .target {
    padding-bottom: 35px;
  }

  .target__picture img {
    width: 120px;
  }

  .target__title {
    font-size: 2.8125rem;
  }

  .target__goal {
    padding-bottom: 0;
  }

  .prices {
    padding-bottom: 65px;
  }

  .prices__text {
    font-size: 16px;
  }

  .prices__buttons {
    top: 590px;
  }

  .prices__cards {
    top: -60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }

  .price__wrapper {
    padding: 17px 15px;
  }

  .card__price {
    margin-top: 15px;
  }

  .card__units {
    margin-top: 5px;
  }

  .card__for {
    margin-top: 15px;
  }

  .clients__row {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }

  .clients__item img {
    height: 56px;
  }

  .organization__title {
    font-size: 16px;
  }

  .organization__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 13px;
  }

  .organization__text {
    font-size: 12px;
  }

  .organization__text:not(:last-child) {
    margin-bottom: 10px;
  }

  .organization__text li {
    margin-top: 3px;
  }

  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 39px;
  }

  .contact__text {
    font-size: 33px;
  }

  .form {
    width: 100%;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

.webp .intro{ background-image: url(../img/intro_bg.webp); }

.webp .contact{ background-image: url(../img/form_bg.webp); }